################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Data/obj
/Data/bin
/Logika/obj
/Logika/bin
/Logic/bin
/Logic/obj
/Model/bin
/Model/obj
/Tests/bin
/Tests/obj
/View/bin
/View/obj
/ViewModel/obj
/ViewModel/bin
/DataTests/bin
/DataTests/obj
/LogicTests/bin
/LogicTests/obj