################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dane/obj
/Logika/obj
/Model/bin/Debug/netstandard2.0
/Model/obj
/Tests/bin
/Tests/obj
/View/bin/Debug/net8.0-windows
/View/obj
/ViewModel/obj
